<mat-card class="login-card">
  <div class="router-content">
    <div class="logo-container">
      <img src="assets/Images/logo.png" alt="Your Logo" class="logo">
    </div>
    <mat-card-title class="center-text">Login</mat-card-title>
    <form (submit)="login()" class="center-form">
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="email" placeholder="Email" name="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput [(ngModel)]="password" placeholder="Password" type="password" name="password">
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Login</button>
      </div>
    </form>
    <mat-error *ngIf="error" class="center-text">{{ error }}</mat-error>
  </div>
</mat-card>
