body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  // Hide horizontal overflow
}

.container {
  height: 100vh;
  overflow-x: hidden;  // Hide horizontal overflow
}

.top-bar {
  background-color: #FF6B1C;
  color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.drawer-container {
  height: 92vh;  // Changed to 100vh
}

.side-drawer {
  width: 250px;
  background-color: #FF6B1C;
  color: white;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  height: 100vh;  // Added this line
}

mat-nav-list a {
  color: white;
  padding: 15px;
  display: block;
  text-decoration: none;
}

.content-area {
  padding: 20px;
}

.app-logo {
  height: 60px;
  margin: 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.drawer-content {
  // display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


