<mat-card class="login-card">
  <div class="router-content">
    <div class="logo-container">
      <img src="assets/Images/logo.png" alt="Your Logo" class="logo">
    </div>
    <mat-card-title class="center-text">Register</mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="register()" class="center-form">
      <mat-form-field class="full-width">
        <input matInput formControlName="name" placeholder="Name">
        <mat-error *ngIf="registerForm.controls['name'].hasError('name')">Name is required</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="email" placeholder="Email">
        <mat-error *ngIf="registerForm.controls['email'].hasError('email')">Invalid email format</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="password" placeholder="Password" type="password">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
      </mat-form-field>
      <mat-error *ngIf="registerForm.hasError('notSame')">Passwords do not match</mat-error>
      <mat-form-field class="full-width">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          <mat-option value="Manager">Manager</mat-option>
          <mat-option value="Accounts">Accounts</mat-option>
          <mat-option value="Supervisor">Supervisor</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="button-container">
        <button mat-raised-button type="submit" color="primary" [disabled]="!registerForm.valid">Register</button>
      </div>
    </form>
    <mat-error *ngIf="error">{{ error }}</mat-error>
  </div>
</mat-card>
