<div class="container">
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-end">
            <button mat-raised-button color="primary" [routerLink]="['/create-invoice']">Add Invoice</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4" *ngFor="let invoice of invoices">
            <mat-card class="card w-100">
                <mat-toolbar class="card-header" [ngClass]="{
                    'default-color': !invoice.Sent && !invoice.Paid,
                    'sent-color': invoice.Sent && !invoice.Paid,
                    'paid-color': invoice.Paid
                }">
                    {{ invoice.client.name }} - {{ invoice.location }}
                </mat-toolbar>
                <mat-card-content class="card-body p-0">
                    <div><strong>Order Number: </strong>{{ invoice.orderNumber }}</div>
                    <div><strong>Vendor Number: </strong>{{ invoice.vendorNumber }}</div>
                    <div><strong>Invoice Number: </strong>{{ invoice.invoiceNo }}</div>
                    <div><strong>Invoice Type: </strong>{{ invoice.type }}</div>
                    <div><strong>Date: </strong>{{ convertTimestampToDate(invoice.date) }}</div>
                    <mat-divider></mat-divider>
                    <div class="description-section">
                        <strong>Items </strong>
                        <div *ngFor="let item of invoice.Items">
                           <strong> {{ item.Item }} </strong><br>
                            {{ item.description }}  - {{ item.quantity }} X €{{ item.price }}
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div><strong>Total Excl VAT: </strong>€{{ invoice.totalExclVAT }}</div>
                    <div><strong>Total Incl VAT: </strong>€{{ invoice.totalInclVAT }}</div>
                </mat-card-content>
                <mat-card-actions class="card-footer d-flex justify-content-end"  [ngClass]="{
                    'default-color': !invoice.Sent && !invoice.Paid,
                    'sent-color': invoice.Sent && !invoice.Paid,
                    'paid-color': invoice.Paid
                }">
                    <button mat-button (click)="editInvoice(invoice)">Edit</button>
                    <button mat-button color="warn" (click)="deleteInvoice(invoice)">Remove</button>
                    <button mat-button *ngIf="!invoice.Sent && invoice.PDFUrl" (click)="sendEmailforInvoice(invoice)">Send</button>
                    <button mat-button *ngIf="invoice.Sent && invoice.PDFUrl" (click)="resendEmailforInvoice(invoice)">Resend</button>
                    <button mat-button (click)="generatePDFfromInvoice(invoice)">Generate PDF</button>
                    <a *ngIf="invoice.PDFUrl" [href]="invoice.PDFUrl" target="_blank" mat-raised-button color="primary" >
                        View
                    </a>
                    <button *ngIf="invoice.PDFUrl" mat-raised-button color="warn" (click)="onDeletePdf(invoice)" style="margin-left: 10px;">
                        Delete
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
